@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoThin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoUltraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoLight.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoMedium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoSemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("fonts/AppleSDGothicNeoHeavy.ttf");
    font-weight: 900;
}

* {font-family: "AppleSDGothicNeo";}
